apiVersion: v1
kind: ServiceAccount
metadata:
  name: observer
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "openchoreo-observability-plane.componentLabels" (dict "context" . "component" "observer") | nindent 4 }}
automountServiceAccountToken: false
